<%- include("../partial/head.ejs") %>

    <link href="/css/animate.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://unpkg.com/mathlive/dist/mathlive.min.css">

    <style>

/* Default style for virtual keyboard */
math-virtual-keyboard {
  width: 100%; /* Full width on small screens */
  max-width: 600px; /* Limit the width on larger screens */
}

/* Custom media query for small mobile screens */
@media only screen and (max-width: 600px) {
  math-virtual-keyboard {
    font-size: 1.2rem; /* Increase the font size slightly */
    --key-size: 40px; /* Set smaller key sizes for better fit */
    --keyboard-height: 300px; /* Reduce keyboard height for smaller screens */
  }
}

    
        h5 {
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
            color: #fb983c
        }
        .header {
            background-color: #defdb6;
            padding: 20px;
            border-radius: 10px;
            text-align: center;
            margin-bottom: 20px;
        }
        .header img {
            width: 60px;
            height: auto;
        }
        
        .math-field-container {
            text-align: center;
            margin-bottom: 20px;
        }
        math-field {
            width: 100%;
            font-size: x-large;
            border-radius: 10px;
        }
        .feedback {
            font-size: 1.3rem;
            margin-top: 10px;
            color: #28a745;
            /* ููู ุงูุฃุฎุถุฑ ููุฅุดุงุฑุฉ ุฅูู ุงููุฌุงุญ */
        }
        .incorrect {
            color: red;
        }
        button {
            background-color: #ffce54;
            /* ุฃููุงู ุฒุงููุฉ ููุฃุฒุฑุงุฑ */
            border: none;
            color: #fff;
            font-size: 1.2rem;
            padding: 10px 20px;
            margin: 10px;
            cursor: pointer;
            font-weight: bold;
            border-radius: 10px;
        }

        button:hover {
            background-color: #ff9f43;
            /* ุชุบููุฑ ููู ุงูุฃุฒุฑุงุฑ ุนูุฏ ุงูุชูุฑูุฑ */
        }

        /* ูู ุงูุถุฑูุฑู ุงุณุชุฎุฏุงูู ุนูุฏ ูู ุชูุณูู ุฑูุงุถู ูุชุตุจุญ ุงูุดุงุดุงุช ุงูุตุบูุฑุฉ ููุงุณุจุฉ ููุชุฌุงูุจุฉ */
        .example-box {
            background-color: #fff3cd;
            border: 2px solid #ffeb3b;
            border-radius: 10px;
            padding: 15px;
            margin-bottom: 20px;
            max-width: 100%;/* ุชุฃูุฏ ุฃู ุงูุนุฑุถ ูุง ูุชุฌุงูุฒ 100% */
            overflow-x: auto;/* ุฅุถุงูุฉ ุชูุฑูุฑ ุฃููู ุนูุฏ ุงูุญุงุฌุฉ */
            white-space: nowrap;/* ููุน ุชูุณูุฑ ุงููุต ุฏุงุฎู ุงูู div */
        }

        .math-equation {
            overflow-x: auto;
            display: block;  /* ุนุฑุถ ุงููุนุงุฏูุฉ ูู block */
            white-space: nowrap;  /* ููุน ุงูุชูุงู ุงููุต */
            max-width: 100%;  /* ุถูุงู ุฃู ุงููุนุงุฏูุฉ ูุง ุชุชุฌุงูุฒ ุนุฑุถ ุงูุญุงููุฉ */
        }

        .example-box:hover {
            transform: scale(1.2);
        }

        .highlight {
            color: #d32f2f;
            font-weight: bold;
        }

        .knowledge-section {
            background-color: #bbdefb;
            padding: 20px;
            border-radius: 10px;
            margin-bottom: 20px;
        }

        .question-section {
            background-color: #c8e6c9;
            padding: 20px;
            border-radius: 10px;
        }

        p {
            word-wrap: break-word;
            /* ููุน ุชุฌุงูุฒ ุงููุต ูุญุฏูุฏ ุงูุนูุตุฑ */
        }

        ul {
            padding-right: 20px;
            list-style-type: none;
            /* ุฅุฒุงูุฉ ุงูุนูุงูุงุช ุงูุฌุงูุจูุฉ */
        }

        ul li::before {
            content: "๐น";
            /* ุฅุถุงูุฉ ุฑูุฒ ูุฎุตุต ููุนูุงุตุฑ */
            margin-left: 5px;
        }
    </style>
    </head>

    <body>

        <!-- ุชุฑููุณุฉ ุงูุตูุญุฉ -->
        <div class="row header animate__animated animate__fadeInDown d-flex align-items-center">
            <!-- ุนููุฏ ุงูุตูุฑุฉ -->
            <div class=" col-6 text-start">
                <img src="<%= lesson.cover %>" style="width: 150%; height: auto;" class="img-fluid" alt="cover">
            </div>
            <!-- ุนููุฏ ุงูุนููุงู -->
            <div class="col-lg-10 text-center">
                <h1 id="element">
                    <%= lesson.title %>
                </h1>
            </div>
        </div>

        <!-- ุงููุต ุงูุชูููุฏู -->

        
  <div class="row content-section animate__animated animate__fadeInUp">
    <div class="col-12">
      <p>
        ูุถุงุนูุงุช ุงูุนุฏุฏ 2 ูู: 2,4,6,8,10,12,14,16,18 ....
        <br>
        ูุถุงุนูุงุช ุงูุนุฏุฏ 3 ูู: 3,6,9,12,15,18,21 ....
      </p>
    </div>
  </div>


<!--  ูุณู ุชุนูู 
  
<div class="container col-12 knowledge-section mt-4">
    <h2>ุชุนูู</h2>

    <h5> ุฎุงุตุฉ 1</h5>
    <p>ูุฌูุน (ุฃู ุทุฑุญ) ุงููุณูุฑ ุฐุงุช ุงูููุงูุงุช ุงููุชุณุงููุฉุ ูุฌูุน (ุฃู ูุทุฑุญ) ุงูุจุณูุท ููุฐู ุงููุณูุฑ ููุญุชูุธ ุจุงูููุงู ุงููุดุชุฑู</p>
    <p >\( \frac{a}{b} - \frac{c}{b} = \frac{a-c}{b} \)</p>

        <!-- ูุณู ุงูุฃูุซูุฉ 
        <div class="row">

            <div class="col-6 col-md-6 col-sm-11 animate__animated animate__bounceInUp">
                <div class="example-box p-3">
                    <p>
                        ูุซุงู: \( \frac{1}{5} - \frac{3}{5} = \frac{1-3}{5} = \frac{-2}{5} = - \frac{2}{5} \)
                    </p>
                </div>
            </div>

            <div class="col-6 col-md-6 col-sm-11 animate__animated animate__bounceInUp">
                <div class="example-box p-3">
                    <p>ูุซุงู: \( \frac{-7}{3} + \frac{0.5}{3} = \frac{-6.5}{3} \)</p>
                </div>
            </div>
        </div>
        
        <h5> ุฎุงุตุฉ 2</h5>
        <div class="d-flex flex-column"> <!-- ุงูุนูุงุตุฑ ููู ุจุนุถ ุงูุฏุณุจูู ููููุณ ูุฐูู ุญุทููุง ุนูุงุตุฑ ููุฑุงุช ูุซูุฑุฉ 
            ูุฌูุน ( ุฃู ุทุฑุญ ) ูุณูุฑ ุนุงุฏูุฉ ุฐุงุช ููุงูุงุช ูุฎุชููุฉุ ููุญุฏ ููุงูุงุชูุงุ ุซู ูุฌุฑู ุงูุนูููุงุช ูููู ุงูุฎุงุตุฉ1. 
            <p class="example-box ">
            
                ูุซุงู:$\cdot \frac{5}{6}+\frac{3}{4}=\frac{10}{12}+\frac{9}{12}=\frac{10+9}{12}=\frac{19}{12}$  
            </p>

            <p>
                12ูู ูุถุงุนู ูุดุชุฑู ููุนุฏุฏูู 6 ู 4 ููู ููุงู ูุดุชุฑู ูููุณุฑูู ุงุณุชุจุฏููุงุ ุจูู ูุณุฑูุ ูุณุฑุงู ูุณุงููู ููุงูู ูุณุงูู 12 .
            </p>

            <p class="example-box">
                ูุซุงู: $-2.5-\frac{1}{3}=-\frac{5}{2}-\frac{1}{3}=-\frac{15}{6}-\frac{2}{6}=\frac{-17}{6}=-\frac{17}{6}$                
            </p>

            <p>
               6 ูู ูุถุงุนู ูุดุชุฑู ููุนุฏุฏูู 2 ู3 ููู ููุงู ูุดุชุฑู ูููุณุฑูู. ุงุณุชุจุฏููุงุ ุจูู ูุณุฑูุ ูุณุฑุงู ููุณุงููู ููุงูู 6.
            </p>

            <p class="example-box">
                ูุซุงู: ูุฅูุฌุงุฒ ุงูุนูููุฉ  $\frac{1}{2}+\frac{3}{4}$  
            </p>
            <p>
                ููุงุญุธ ุฃูู 4 ูู ููุงู ูุดุชุฑู ูููุณุฑูู. ุฅุฐู  \( \frac{1}{2} + \frac{3}{4} = \frac{2}{4} + \frac{3}{4} = \frac{5}{4} \)
            </p>

        </div>
</div>
        <!-- ุงูุชุณุงุจ ูุนุงุฑู 
        <div class="container col-12 knowledge-section mt-4"> 

             <h2>ุงูุชุณุงุจ ูุนุงุฑู</h2>
             ๐ก ููู ููุฌุฒ ุณูุณูุฉ ูู ุนูููุงุช ุงูุฌูุน ูุงูุทุฑุญุ
             <br>
             ูุฅูุฌุงุฒ ุณูุณูุฉ ูู ุนูููุงุช ุงูุฌูุน ูุงูุทุฑุญ ุนูู ูุณูุฑ ุนุงุฏูุฉุ ููุถู ุฃู ูุจุฏุฃ ุจุฅุฌุฑุงุก ุงูุนูููุงุช ุนูู ุงููุณูุฑ ุฐุงุช ุงูููุงูุงุช ุงููุชุณุงููุฉ.
             
             <div class="example-box">
                ูุซุงู: ุฃูุฌุฒ ุญุณุงุจ
                 \( A = \frac{5}{3} - \frac{7}{6} + \frac{8}{3} \)
                 ุจุตูุบุฉ ูุณุฑ ุนุงุฏู
             </div>
         
            <h5>ุงูุญู</h5>
        
            <ul class = "example-box">
                     <li>
                         \( \text{ุงูุนุฏุฏ 6 ูุถุงุนู ููุนุฏุฏ 3 ููุชูุญูุฏ ููุงูุงุช ุงููุณูุฑ ุงูุซูุงุซุฉุ ูููู ุฅูุฌุงุฏ ูุถุงุนูู ููุนุฏุฏูู 6 ู 8} \)
                     </li>
                     <li>
                         \( \text{ูุถุงุนูุงุช ุงูุนุฏุฏ 6 ูู: 6 12 18 24 30 } \)..
                     </li>
                     <li>
                         \( \text{ูุถุงุนูุงุช ุงูุนุฏุฏ 8 ูู: 8 16 24 } \)..
                     </li>
                     <li>
                         \( \text{ุฃุตุบุฑ ูุถุงุนู ููุนุฏุฏูู 6 ู 8 ูู 24} \)
                     </li>
            </ul>

            <p class = "example-box">
            \( A = \frac{40}{24}-\frac{28}{24}+\frac{9}{24}=\frac{40-28+9}{24}=\frac{21}{24}=\frac{\not 3 \times 7}{\not 3 \times 8}=\frac{7}{8}                             
            \)
            </p>
        </div>

</div> -->



        <%- lesson.content %>

            <!-- ูุณู ุชุทุจูู -->
            <div class="container question-section mt-4 col-12 col-sm-12">
                <h2>ุชุทุจูู</h2>

                <h5 >ุงูุฎุทูุฉ 1: ุฅูุฌุงุฏ ุงููุถุงุนู ุงููุดุชุฑู ุงูุฃุตุบุฑ</h5>
                <p class="text-center">ูุง ูู ุงููุถุงุนู ุงููุดุชุฑู ุงูุฃุตุบุฑ (LCM) ููุนุฏุฏูู 6 ู 4ุ</p>
                <div class="math-field-container">
                    <math-field id="lcm-answer">
                        \placeholder[answer]{ ? }
                    </math-field>
                </div>
                <div class="text-center">
                    <button id="checkLCM">ุชุญูู ูู ุงูุฅุฌุงุจุฉ</button>
                    <div id="lcm-feedback" class="feedback"></div>
                </div>
            
             
                <h5 >ุงูุฎุทูุฉ 2: ุชูุญูุฏ ุงูููุงูุงุช</h5>
                <p class="text-center example-box">ูู ุจุชุญููู ุงููุณุฑูู \( \frac{5}{6} \) ู \( \frac{3}{4} \) ูุชูุญูุฏ ุงูููุงูุงุช.</p>
                <div class="row justify-content-center">
                    <div class="col-lg-5 math-field-container">
                        <label for="fraction1">ุงููุณุฑ ุงูุฃูู:</label>
                        <math-field read-only id="fraction1">
                            \frac{5}{6}= \frac{\placeholder[numerator]{?}}{\placeholder[denominator]{?}}
                        </math-field>
                    </div>
                    <div class="col-lg-5 math-field-container">
                        <label for="fraction2">ุงููุณุฑ ุงูุซุงูู:</label>
                        <math-field read-only id="fraction2"> 
                            \frac{3}{4}= \frac{\placeholder[numerator]{?}}{\placeholder[denominator]{?}}
                        </math-field>
                    </div>
                </div>
                <div class="text-center">
                    <div id="fraction-feedback" class="feedback"></div>
                </div>
            
               
                <h5 >ุงูุฎุทูุฉ 3: ุฅุฌุฑุงุก ุงูุนูููุฉ ุงูุญุณุงุจูุฉ</h5>
                <p class="text-center">ุงุฌูุน ุงููุณูุฑ ุงูููุญุฏุฉ ูุฃุฏุฎู ุงูุฅุฌุงุจุฉ ุงูููุงุฆูุฉ:</p>
                <div class="math-field-container">
                    <math-field id="final-answer"></math-field>
                </div>
                <div class="text-center">
                    <button id="checkFinalAnswer">ุชุญูู ูู ุงููุชูุฌุฉ</button>
                    <div id="final-feedback" class="feedback"></div>
                </div>            


            </div>


            <!-- ูุณู ุงูุชูุงุฑูู -->
         
            <%- lesson.exercies %>

            <!-- <div class="container question-section col-12 col-sm-12 mt-4">
                <h2>ุชุญูู ูู ูููู</h2>
                <h5>ุงูุณุคุงู ุงูุงูู</h5>

                <%# for (let i = 1; i < 3; i++) { %>

                    <div class="math-field-container">
                        <math-field read-only id=fraction3 >
                            \frac{5}{9}+\frac{1}{3}=\frac{5}{9}+ \frac{\placeholder[numerator1]{?}}{9} = \frac{\placeholder[numerator2]{?}}{9}
                        </math-field>
                    </div>
                                        
                <%# } %>

                <h5>ุงูุณุคุงู ุงูุซุงูู</h5>
                
                <div id="problems-container" class="row"></div>
                   
                  
            </div>         -->   

            

                <a href="/" class="btn btn-outline-info mt-5">
                    <img src="/icon/iconBack.png" class="bi" width="34" height="34">
                    <span>ุงูุตูุญุฉ ุงูุฑุฆูุณูุฉ</span>
                </a>
        

            <script defer="defer" type="module" src="/js/less_6.js"></script>

<%- include('../partial/end.ejs') %>